//Palette colors

$white-color:  #fff;
$black-color: #000;
$brown-color: #4B2D20;
$dark-orange-color: #D45721;
$light-orange-color: #E17141;
$gray-color: #9D8C78;
$beige-color: #EEEBD0;
$light-green-color: #AEBD93;
