.create {
    display: flex;
    justify-content:  center;
    align-items: center;
    height: auto;
    position: relative;
    flex-wrap: wrap;
    padding: 2rem 0;
    
    &__container {
    display: flex;
    flex-direction: column;
    width: 45rem;
    height: 100%;
    text-align: center;
    margin: 2rem 1rem;
    border-radius: 1rem;
    background-image: url(../../img/background_login.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 10px 5px 5px $gray-color;
    
    &__title{
        color: $dark-orange-color;
            font-family: 'Raleway', sans-serif;
            font-size: 2rem;
            text-align: center;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.6rem;
            margin: 3rem auto 1.5rem auto;
    }

    .bordure{
        border-bottom:2px solid $dark-orange-color;
        width: 28rem;
        display: flex;
        margin: 0 auto 1.5rem auto;;

    }
    &__img {
        width: 6rem;
        height: 6rem;
        display: flex;
        margin: 0 auto;
    }

    &__ctn{

        &__title{
        color: $dark-orange-color;
            font-family: 'Raleway', sans-serif;
            font-size: 1.5rem;
            letter-spacing: 1rem;
            text-align: center;
            font-weight: 400;
            text-transform: uppercase;
            margin: 1.5rem auto;
        }

        &__label{
            color: $brown-color;
            font-family: 'Raleway', sans-serif;
            font-size: 1rem;
            letter-spacing: 0.2rem;
            text-align: center;
            font-weight: 300;
            margin: 1rem auto;
        }

        &__input{
            text-decoration: none;
            width: 20rem;
            height: 2rem;
            border-radius: 1rem;
            border:none;
            margin: 0.8rem;
            box-shadow: 5px 5px 5px $gray-color;
        }

        &__button{
            background-color: $light-orange-color;
            padding: 0.5rem 1rem;
            border-radius: 1rem;
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
            font-size: 0.9rem;
            color: $white-color;
            border-style: none;
            box-shadow: 5px 5px 5px $gray-color;
            margin: 1.3rem 0;
        }
    }
}
}